
<div class="container">
	<h1>Tri Calendar</h1>
<!-- 
<%= month_calendar do |date| %>
	<%= date.day %>
<% end -%> -->

<br><hr><br>

<%= SimpleCalendar::ThreeMonthCalendar.new(self, {}).render do |date| %>
	<%= date.day %>
<% end %>
</div>