
<div class="container">
	<h1>Tri Calendar</h1>
</div>

<%= month_calendar do |date| %>
	<%= date.day %>
<% end -%>

<br><hr><br>

<%= week_calendar number_of_weeks: 2 do |date| %>
	<%= date %>
<% end %>